div{

  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  color: #363636;

}

@font-face {
    font-family: "Gothic";     
    src: url("../css/font/GothicA1-Regular.ttf");
  }
  
@font-face {
  font-family: "Nanum";     
  src: url("../css/font/NanumGothic-Regular.ttf");
}

@font-face {
  font-family: "Gugi";     
  src: url("../css/font/Gugi-Regular.ttf");
}

@font-face {
  font-family: "Sunflower";     
  src: url("../css/font/Sunflower-Medium.ttf");
}

.ingredientName{
  font-size : 23px;
  font-weight: bold;
}